{% extends 'base.html' %}
{% load static %}

{% block styles %}
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-clustering.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js" integrity="sha256-kzv+r6dLqmz7iYuR2OdwUgl4X5RVsoENBzigdF5cxtU=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<style type="text/css">
    #map { 
        height:1200px;
        width:100%;
        box-sizing: border-box;
    }
</style>
{% endblock %}


{% block content %}

<div class="grid">
    <div class="row">
        <div class="eight col padding less">
            <div id="map"></div>
        </div>
        <div class="four col">
            <form action="." class="form box" id="form">
                <label for="location">Explore hotels in this location:</label>
                <input type="text" id="location" placeholder="Munich, Germany" id="location">
                <input type="submit" value="Explore" class="right margin less">
            </form>
            <div class="box items" id="results">
                On this demo app there isn't many data points and because of that, please use "Munich, Germany" in the explore field for the presentation. This is how it works:

                <ol>
                    <li>Imported a few data points for Hotels in Munich, Germany to the django mdoel using custom Django Management Commpan and Here Api</li>
                    <li>Created an REST Api end-point for exploring the hotels near a neighborhood</li>
                    <li>After you fill the explore field on this page, the geo point of the location will be fethced using the Here Api</li>
                    <li>The fethced position will be sent to the explore end-point of this web app and the hotels will be showed on the map and on this region.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



{% block scripts %}
    <script src="{% static "hotels/js/explore.js" %}"></script>
{% endblock scripts %}