html,
body {
  margin: 0;
  padding: 0; }

ul,
or {
  padding: 0;
  margin: 0; }

.grid {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }
  .grid.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    max-width: 1400px; }
  .grid .row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    width: 100% !important;
    -webkit-box-align: stretch;
            align-items: stretch; }
    .grid .row.stackable {
      width: auto; }
    .grid .row .col {
      box-sizing: border-box; }
    .grid .row .one.col {
      width: 8.33333%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .two.col {
      width: 16.66667%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .three.col {
      width: 25%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .four.col {
      width: 33.33333%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .five.col {
      width: 41.66667%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .six.col {
      width: 50%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .seven.col {
      width: 58.33333%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .eight.col {
      width: 66.66667%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .nine.col {
      width: 75%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .ten.col {
      width: 83.33333%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .eleven.col {
      width: 91.66667%;
      padding-left: 20px;
      padding-right: 20px; }
    .grid .row .twelve.col {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; }

h1,
h2,
h3,
h4,
h5,
h6,
.header {
  font-family: 'Raleway', sans-serif; }

.header .main {
  font-size: 44px; }

nav {
  height: 66px;
  background: #2f3b52;
  color: #d6d9dd;
  box-shadow: 0px 2px 5px #0003; }
  nav ul {
    list-style: none;
    display: inline-block; }
    nav ul li {
      float: left; }
      nav ul li:hover {
        background: #fff0e1; }
        nav ul li:hover a {
          color: #252e42; }
      nav ul li a {
        color: #d6d9dd;
        display: block;
        text-align: center;
        padding: 22px;
        text-decoration: none; }

.padding.less {
  padding: 0 !important; }

.margin.less {
  margin: 0 !important; }

.m-t-5 {
  margin-top: 5rem; }

.box {
  background: #2f3b52;
  margin: 1.2rem 0px;
  padding: 1.6rem;
  overflow: auto; }

.right {
  float: right; }

.text-center {
  text-align: center; }

form.form label {
  display: block;
  color: #d6d9dd;
  font-size: 1.1rem; }

form.form input {
  box-sizing: border-box;
  border-radius: 3px;
  margin: .5rem 0 .75rem;
  padding: 10px; }

form.form input[type=text],
form.form input[type=search] {
  width: 100%; }

form.form input[type=text] {
  border: 2px solid #536794;
  background-color: #252e42;
  color: #536794; }
  form.form input[type=text]:focus {
    border-color: #e2ae77;
    color: #e2ae77; }

form.form input[type=submit] {
  background: #e2ae77;
  color: #fff;
  border: 0 none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px; }

.items .item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem; }
  .items .item img {
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem; }
  .items .item .content {
    display: inline-block; }
    .items .item .content .title,
    .items .item .content .description {
      margin: 0;
      cursor: pointer; }
    .items .item .content .title {
      color: #e2ae77; }

body {
  background: #252e42;
  color: #d6d9dd; }
  body a {
    color: #d6d9dd; }

/*# sourceMappingURL=style.css.map */
