@import 'framework/reset';
@import 'framework/colors';
@import 'framework/grid';
@import 'framework/typography';
@import 'framework/navigation';
@import 'framework/utilities';
@import 'framework/forms';
@import 'framework/items';

body {
  background: $background;
  color:  $color;

  a {
    color:  $color;
  }
}