{%extends "base.html" %}

{% block content %}
<div class="grid container">
    <div class="stackable row">
        <div class="twelve col text-center">
            <h1 class="m-t-5">Code Challenge for Limehome</h1>
            <h2>Developed by Alireza Ardakani</h2>

            <p>
                Source code is available at <a href="https://gitlab.com/eneepo/limehome-coding-challenge">GitLab</a>
            </p>

        </div>
    </div>
</div>
{% endblock %}