{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xHotels</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static "core/css/style.css" %}">
    {% block styles %}
    {% endblock %}
</head>

<body>
{% include "includes/navigation.html" %}
    
    {% block content %}
    {% endblock %}

    <script src="{% static "core/js/main.js" %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>