$darkest:           #252e42;
$dark:              #2f3b52;
$dark-highlight:    lighten($darkest, 25%);
$light_gold:        #fff0e1;
$light_blue:        #d6d9dd;
$white:             #fff;
$gold:              #e2ae77;

$color:              $light_blue;
$background:         $darkest;
