form.form{
    label {
        display: block;
        color: $light_blue;
        font-size: 1.1rem;
    }
    input{
        box-sizing: border-box;
        border-radius: 3px; 
        margin: .5rem 0 .75rem;
        padding:10px; 
    }

    input[type=text],
    input[type=search] {
        width: 100%;
    }

    input[type=text] {
        border:2px solid $dark-highlight; 
        background-color: $darkest;
        color: $dark-highlight;

        &:focus {
            border-color: $gold;
            color:$gold;
        }
    }

    input[type=submit] {
        background:$gold; 
        color:$white;
        border:0 none;
        cursor:pointer;
        padding-left: 15px;
        padding-right: 15px;
    }
}