$name: 'col';
$columns: 12;
$gutter: 40px;
$width: 1200px;

$numbers: (1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six',
           7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 11: 'eleven', 12: 'twelve');

@function col-width($i, $columns) {
  @return 100% / $columns * $i;
}

@mixin props-mixin($i, $columns, $gutter) {
  width: col-width($i, $columns);
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

@mixin columns-mixin($name, $columns, $gutter) {
  @for $i from 1 through $columns {
    .#{map-get($numbers, $i)}.#{$name} {
      @include props-mixin($i, $columns, $gutter);
    }
  }
}

.grid{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  &.container{
    margin-left: auto;
    margin-right: auto;
    width: $width;
    max-width: 1400px;
  }

  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100% !important;
    align-items: stretch;
    &.stackable{
      width: auto;
    }
    .col{
      box-sizing: border-box;
    }
    @include columns-mixin($name, $columns, $gutter);
  }
  
}

