.items {
    .item {
        border-bottom: 1px solid rgba($white, .1);
        padding: 1rem;

        img {
            display: inline-block;
            vertical-align: top;
            margin-right: 1rem;
        }

        .content{
            display: inline-block;

            .title,
            .description {
                margin: 0;
                cursor: pointer;
            }

            .title {
                color: $gold;
            }
        }
    }
}