nav{
    height: 66px;
    background: $dark;
    color: $light_blue;
    box-shadow: 0px 2px 5px #0003;
    ul {
        list-style: none;
        display: inline-block;
        li{
            float: left;
            &:hover{
                background: $light_gold;
                a{
                    color: $darkest;
                }
            }
            a{
                color: $light_blue;
                display: block;
                text-align: center;
                padding: 22px;
                text-decoration: none;
            }
        }
    }
}