.padding{
    &.less{
        padding: 0 !important;
    }
}
.margin{
    &.less{
        margin: 0 !important;
    }
}
.m-t-5{
    margin-top: 5rem;
}
.box{
    background: $dark;
    margin: 1.2rem 0px;
    padding: 1.6rem;
    overflow: auto;
}

.right {
    float: right;
}

.text-center{
    text-align: center;
}