<nav id="menu">
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'explore' %}">Explore</a>
        </li>
        <li>
            <a href="{% url 'schema-redoc' %}">ReDoc</a>
        </li>
        <li>
            <a href="{% url 'schema-swagger-ui' %}">Swagger</a>
        </li>
    </ul>
</nav>